<!DOCTYPE html>
<html ng-app='movieApp'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularFire Movie Planner</title>
  <base href="/">
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <div class="container" ng-controller="MovieCtrl">
    <h1>Movie Planner</h1>
    <h3>{{movie.title}}</h3>
    <p>{{movie.theater}}</p>
    <p>{{movie.date}}</p>
    <p>{{movie.time}}</p>
    <br>
    <input type="text" name="title" ng-model="movie.title"/>
    <input type="text" name="theater" ng-model="movie.theater"/>
    <input type="text" name="date" ng-model="movie.date"/>
    <input type="text" name="time" ng-model="movie.time"/>
  </div>
</body>