<!DOCTYPE html>
<html ng-app='movieApp'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularFire Movie Planner</title>
  <base href="/">
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <div class="container" ng-controller="MovieCtrl" >
    <h1>Movie Planner</h1>
    <div ng-repeat="(id, movie) in movies">
      <h3>{{movie.title}}</h3>
      <p>{{movie.theater}}</p>
      <p>{{movie.date}}</p>
      <p>{{movie.time}}</p>
      <br>
      <input type="text" name="title" ng-model="movie.title" ng-blur="updateMovie(id)"/>
      <input type="text" name="theater" ng-model="movie.theater" ng-blur="updateMovie(id)"/>
      <input type="text" name="date" ng-model="movie.date" ng-blur="updateMovie(id)"/>
      <input type="text" name="time" ng-model="movie.time" ng-blur="updateMovie(id)"/>
    </div>
    <form ng-submit="addMovie()">
      <input type="text" ng-model="newMovie.title" placeholder="title"/>
      <input type="text" ng-model="newMovie.theater" placeholder="theater"/>
      <input type="text" ng-model="newMovie.date" placeholder="date"/>
      <input type="text" ng-model="newMovie.time" placeholder="time"/>
      <button type="submit" >Add</button>
    </form>
  </div>
</body>